services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - nextcloud_caddy
      - nginx_caddy

  backup:
    container_name: caddy_backup
    profiles: [backup]
    build:
      context: ../backup
    volumes:
      - ~/.ssh:/root/.ssh:ro 
      - .:/backup/app # app folder
    environment:
      - BORG_PASSCOMMAND=cat /run/secrets/BORG_PASSPHRASE
      - BORG_REPO=${BORG_REPO}
      - BORG_ACTION=${BORG_ACTION:-BACKUP}
      - ARCHIVE_NAME=${ARCHIVE_NAME:-caddy-weekly}

    extra_hosts:
      - "backupserver:${BACKUP_SERVER_IP:-}"
    networks:
      - backup      
    secrets:
      - BORG_PASSPHRASE

volumes:
  caddy_data:
  caddy_config:

networks:
  nextcloud_caddy:
    external: true
  nginx_caddy:
    external: true
  backup:


secrets:
  BORG_PASSPHRASE:
    file: ${PASSPHRASE_FILE}
