services:
  db:
    # https://hub.docker.com/_/nextcloud/#base-version---apache
    container_name: nextcloud_db
    image: mariadb:lts
    restart: always
    stop_grace_period: 60s
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/MYSQL_ROOT_PASSWORD # temporary
      - MYSQL_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - internal
    secrets:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_PASSWORD

  redis:
    container_name: nextcloud_redis
    image: redis:alpine
    restart: always
    networks:
      - internal

  nextcloud:
    container_name: nextcloud_app
    image: nextcloud
    restart: always
    depends_on:
      - redis
      - db
    volumes:
      - /srv/nextcloud-data:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
      - REDIS_HOST=redis
      - NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/NEXTCLOUD_ADMIN_USER # temporary
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/NEXTCLOUD_ADMIN_PASSWORD # temporary

      - MYSQL_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
    networks:
      - nextcloud_caddy
      - internal
    secrets:
      - NEXTCLOUD_ADMIN_USER
      - NEXTCLOUD_ADMIN_PASSWORD
      - MYSQL_PASSWORD

  backup:
    container_name: nextcloud_backup
    depends_on:
      - db
    profiles: [backup]
    build:
      context: ../backup
    volumes:
      - ~/.ssh:/root/.ssh:ro 
      - .:/backup/app # app folder 
      - /srv/nextcloud-data:/backup/data 
    environment:
      - DB_PASSWORD_FILE=/run/secrets/MYSQL_PASSWORD
      - DB_NAME=nextcloud
      - DB_USER=nextcloud
      - DB_HOST=db

      - BORG_PASSCOMMAND=cat /run/secrets/BORG_PASSPHRASE

      - BORG_REPO=${BORG_REPO}
      - BORG_ACTION=${BORG_ACTION:-BACKUP}
      - ARCHIVE_NAME=${ARCHIVE_NAME:-nextcloud-weekly}

    extra_hosts:
      - "backupserver:${BACKUP_SERVER_IP:-}"

    networks:
      - backup
      - internal
      
    secrets:
      - BORG_PASSPHRASE
      - MYSQL_PASSWORD

volumes:
  db:

networks:
  nextcloud_caddy:
    external: true
  internal:
    internal: true
  backup:

secrets:
  NEXTCLOUD_ADMIN_USER:
    file: ./secrets/nextcloud_admin_user.txt 
  NEXTCLOUD_ADMIN_PASSWORD:
    file: ./secrets/nextcloud_admin_password.txt 
  MYSQL_ROOT_PASSWORD:
    file: ./secrets/mysql_root_password.txt
  MYSQL_PASSWORD:
    file: ./secrets/mysql_password.txt

  BORG_PASSPHRASE:
    file: ${PASSPHRASE_FILE}
